.modal {
	text-align: center;
}

.modal-dialog.modal-large {
	display: inline-block; 
	vertical-align: middle;
	min-width: 1600px;
	height: 80%; 
}

#workContent {
	height: 100%;
}

#workModal {
	z-index: 1050;
}